/.idea
/editor.xml
/ignore.xml
/inspection
/diff.xml
/IntelliLang.xml
/gradle.run.settings.xml
/project.default.xml
/haskell.xml
/vcs.xml
/web-browsers.xml
/github_settings.xml
/filetypes.xml
/debugger.xml
/_linux
target/
bin/
dist/*
cabal.sandbox.config
!.gitignore
rebel.xml
rebel-remote.xml
*.iml
*.log
diagrams/
*.pass
logs/
_linux/*

